{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Craigslist app</title>
    <meta charset="UTF-8"/>
     <link rel="stylesheet" href="{% static 'styles.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body style="background-color: white">
<nav style="background-color:rgb(0, 187, 0)" >
    <div class="container nav-wrapper">
        <a href="/" class="brand-logo" style="font-size: 30px;color:black">Everything</a>
        <ul id="nav-mobile" class="right">
           <li><a href="/" style="color: black">Home</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <h1 style="text-align: center; color: black" >Welcome to my craigslist app</h1>


    <form action="{% url 'new_search' %}" method="post">
        {% csrf_token %}
        <input  type="text" name="search" placeholder="search..." >
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>

    {% block content %}

    {% endblock content %}
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>

<style>

.body {

background : black ;



    }







</style>